.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex: 1;
  color: #000000;

  .content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
   }


}