.calendarWrapper {
    flex: 1 1 0;

    .calendar {
        height: 100%;
        display: flex;
        flex-direction: column;

        &.invisible {
            // visibility: hidden;
        }

        .weekdays {
            display: flex;

            .nameDays {
                flex: 1;
                border: 1px solid #959595;
            }
        }

        .daysContainer {
            justify-items: end;
            display: grid;
            width: 100vw;
            // height: 100vh;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(5, 1fr);
            flex: 1 1 0;

            .numberDays {
                width: 100%;
                border: 1px solid #959595;
                text-align: end;

                &.today {
                    background-color: #65a9d6;
                }

                &.otherMonth {
                    background-color: gray;
                }
            }
        }
    }
}


// .calendar {
//     .cells {
//         display: grid;
//         grid-template-columns: repeat(7, 1fr);
//         .title {
//             text-transform: capitalize;
//             font-weight: bold;
//         }
//         .day {
//             aspect-ratio: 1/1;
//         }
//     }
// .weekdays {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
// }
// .days-container {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
// }

// }

