.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;


    .contents{
        justify-content: center;
        margin: auto;
        width: 40%;
        padding: 1em;
        border: 1px solid black;
        border-radius: 0.5em;
        background-color: white;

        .appointment{
            margin-bottom: 1rem;
        }
    }
}