.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;

    .contents {
        justify-content: center;
        margin: auto;
        width: 40%;
        padding: 1em;
        border: 4px solid #21d5f5;
        border-radius: 0.5em;
        background-color: white;

        .appointment {
            margin-bottom: 1rem;

            p {
                font-weight: bold;
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }

            input {
                padding: 0.5rem;
            }
        }

        .saveAppointment {
            font-size: 1rem;
            background-color: #7180AC44;
            border: 2px solid #54608144;
            border-radius: 0.15rem;
            padding: 0.5rem 2.5rem;
            margin: 1rem 0;

            &:hover {
                background: #92e9f9;
                border: 2px solid cadetblue;
            }

            &:active {
                background: #21d5f5;
            }
        }
    }
}