.navigationBar {
     width: 100%;
     display: flex;

     button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            font-size: 1rem;
            background-color: #7180AC44;
            border: 1px solid #54608144;
            border-radius: 0.15rem;

            &:hover {
                background: #000000;
                // border: 2px solid cadetblue;
                color: white;
            }

            // &:active {
            //     background: #21d5f5;
            // }
        }

     .calendarHeader {
        text-align: start;
        justify-self: center;
        display: flex;
        justify-content: center;
        flex: 1;

        .calendarTitle {
            font-weight: bold;
            font-size: 1.5rem;
            margin: 0.5rem;
            text-align: center;
            inline-size: fit-content;
        }
    }

}